/* line 5, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 56, icons/*.png */
.icons-sprite, body #main_content .intro .koala, body #main_content .performance .benchmark {
  background-image: url('/static/images/icons-se73547a06f.png');
  background-repeat: no-repeat;
}

/* line 4, ../sass/_fonts.sass */
html {
  font-family: "Roboto", sans;
}
/* line 7, ../sass/_fonts.sass */
html strong {
  font-weight: bold;
}
/* line 10, ../sass/_fonts.sass */
html h1, html h2, html h3, html h4, html h5, html h6 {
  font-family: "Roboto Slab", serif;
}
/* line 12, ../sass/_fonts.sass */
html h1 {
  font-size: 50px;
  opacity: 0.9;
  font-weight: bold;
  text-shadow: 0px 1px 1px #4d4d4d;
}
/* line 17, ../sass/_fonts.sass */
html h2 {
  font-size: 40px;
}
/* line 19, ../sass/_fonts.sass */
html h3 {
  font-size: 30px;
}
/* line 21, ../sass/_fonts.sass */
html h4 {
  font-size: 25px;
}
/* line 23, ../sass/_fonts.sass */
html h5 {
  font-size: 20px;
}
/* line 25, ../sass/_fonts.sass */
html h6 {
  font-size: 20px;
  font-weight: bold;
}
/* line 29, ../sass/_fonts.sass */
html a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
/* line 33, ../sass/_fonts.sass */
html a.selected {
  cursor: text;
}
/* line 35, ../sass/_fonts.sass */
html a:hover {
  text-shadow: 0px 0px 3px white;
}
/* line 37, ../sass/_fonts.sass */
html a:hover.selected {
  text-shadow: none;
}

/* line 3, ../sass/_frame.sass */
html {
  height: 100%;
}
/* line 5, ../sass/_frame.sass */
html body {
  padding-top: 50px;
  background: white;
  color: white;
  height: 100%;
  box-sizing: border-box;
}
/* line 11, ../sass/_frame.sass */
html body header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkN2VhOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM1NmU5ZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d7ea8), color-stop(100%, #356e9f));
  background-image: -moz-linear-gradient(#4d7ea8, #356e9f);
  background-image: -webkit-linear-gradient(#4d7ea8, #356e9f);
  background-image: linear-gradient(#4d7ea8, #356e9f);
  -moz-box-shadow: #464646 2px 2px 5px;
  -webkit-box-shadow: #464646 2px 2px 5px;
  box-shadow: #464646 2px 2px 5px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
}
/* line 20, ../sass/_frame.sass */
html body header .logo {
  color: #7ebc89;
  font-size: 40px;
  font-weight: bold;
  width: 292px;
  height: 72px;
  float: left;
  margin-left: 10px;
  margin-top: 4px;
  display: block;
}
/* line 30, ../sass/_frame.sass */
html body header .logo:hover {
  text-shadow: 1px 1px 1px black;
}
/* line 33, ../sass/_frame.sass */
html body header nav {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 50px;
  padding-top: 25px;
}
/* line 39, ../sass/_frame.sass */
html body header nav a {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 42, ../sass/_frame.sass */
html body header nav a.selected {
  padding: 15px;
  padding-bottom: 14px;
  color: #474747;
  color: white;
}
/* line 47, ../sass/_frame.sass */
html body header nav a.selected#quickstart {
  border-top: 5px #319643 solid;
  background: #7EBC89;
}
/* line 52, ../sass/_frame.sass */
html body header #version {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 18px;
  padding-right: 10px;
  font-weight: bold;
}
/* line 60, ../sass/_frame.sass */
html body #main_content {
  height: 100%;
}

/* line 1, ../sass/_common.sass */
body #main_content .main-text {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
/* line 6, ../sass/_common.sass */
body #main_content .main-text p {
  line-height: 35px;
  font-size: 23px;
  padding-top: 20px;
}
/* line 1, ../sass/_home.sass */
body #main_content .intro {
  overflow: hidden;
  *zoom: 1;
  padding-top: 30px;
  position: relative;
  min-height: 290px;
  background: #7895A0;
}
/* line 8, ../sass/_home.sass */
body #main_content .intro .koala {
  margin-left: 10px;
  float: left;
  background-position: 0 -358px;
  height: 200px;
  width: 410px;
  height: 290px;
}
/* line 15, ../sass/_home.sass */
body #main_content .simple {
  background: #7EBC89;
  padding-bottom: 30px;
}
/* line 18, ../sass/_home.sass */
body #main_content .simple .example {
  margin-top: 40px;
  background: url('/static/images/example.gif?1457714871');
  width: 722px;
  height: 450px;
}
/* line 24, ../sass/_home.sass */
body #main_content .performance {
  background: #DC7C7C;
  padding-bottom: 30px;
}
/* line 27, ../sass/_home.sass */
body #main_content .performance .benchmark {
  margin-top: 40px;
  background-position: 0 0;
  width: 736px;
  height: 358px;
}
/* line 33, ../sass/_home.sass */
body #main_content .versioning {
  background: #A47EBC;
  padding-bottom: 30px;
}
/* line 35, ../sass/_home.sass */
body #main_content .versioning p {
  padding-bottom: 30px;
}
/* line 39, ../sass/_home.sass */
body #main_content .documentation {
  background: #9BCC82;
  padding-bottom: 30px;
}
/* line 41, ../sass/_home.sass */
body #main_content .documentation p {
  padding-bottom: 30px;
}
/* line 45, ../sass/_home.sass */
body #main_content .annotation {
  background: #EAA676;
  padding-bottom: 30px;
}
/* line 47, ../sass/_home.sass */
body #main_content .annotation p {
  padding-bottom: 30px;
}
/* line 51, ../sass/_home.sass */
body #main_content .reuse {
  background: #525252;
  padding-bottom: 30px;
}
/* line 53, ../sass/_home.sass */
body #main_content .reuse p {
  padding-bottom: 30px;
}
/* line 57, ../sass/_home.sass */
body #main_content .get-started {
  background: white;
  color: black;
  padding-bottom: 30px;
}
/* line 60, ../sass/_home.sass */
body #main_content .get-started p {
  padding-bottom: 30px;
}
/* line 63, ../sass/_home.sass */
body #main_content .get-started a {
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFD23C1A', endColorstr='#FF77220F');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyM2MxYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E1MmYxNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d23c1a), color-stop(100%, #a52f14));
  background: -moz-linear-gradient(#d23c1a, #a52f14);
  background: -webkit-linear-gradient(#d23c1a, #a52f14);
  background: linear-gradient(#d23c1a, #a52f14);
  -moz-box-shadow: #e96c4f 0 1px 0 inset;
  -webkit-box-shadow: #e96c4f 0 1px 0 inset;
  box-shadow: #e96c4f 0 1px 0 inset;
  border: 1px solid #8e2912;
  color: white;
  text-shadow: #5c1a0b 0 -1px 0;
  font-size: 25px;
  line-height: 30px;
}
/* line 15, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body #main_content .get-started a:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body #main_content .get-started a:hover {
  background-color: #8e2912;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiMzYxNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhlMjkxMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bb3617), color-stop(100%, #8e2912));
  background: -moz-linear-gradient(#bb3617, #8e2912);
  background: -webkit-linear-gradient(#bb3617, #8e2912);
  background: linear-gradient(#bb3617, #8e2912);
}
/* line 39, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body #main_content .get-started a:active {
  -moz-box-shadow: #802510 0 1px 2px inset;
  -webkit-box-shadow: #802510 0 1px 2px inset;
  box-shadow: #802510 0 1px 2px inset;
}
/* line 6, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
body #main_content .get-started a.disabled, body #main_content .get-started a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #a52f14;
  cursor: default;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../usr/lib64/ruby/gems/2.2.0/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
body #main_content .get-started a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 1, ../sass/_quickstart.sass */
body #main_content .quickstart {
  background: #7EBC89;
  min-height: 100%;
}
/* line 4, ../sass/_quickstart.sass */
body #main_content .quickstart .install, body #main_content .quickstart .first, body #main_content .quickstart .http {
  padding-bottom: 30px;
}
/* line 5, ../sass/_quickstart.sass */
body #main_content .quickstart .install p, body #main_content .quickstart .first p, body #main_content .quickstart .http p {
  padding-bottom: 30px;
}
/* line 9, ../sass/_quickstart.sass */
body #main_content .quickstart .first .example {
  margin-top: 40px;
  background: url('/static/images/quickstart/first_api_1.gif?1457933117');
  width: 850px;
  height: 250px;
}
/* line 15, ../sass/_quickstart.sass */
body #main_content .quickstart .http .example {
  margin-top: 40px;
  background: url('/static/images/quickstart/first_api_2.gif?1457934690');
  width: 850px;
  height: 490px;
}
