<h1>Original Creator &amp; Maintainer</h1>
<ul>
<li>Timothy Edmund Crosley (@timothycrosley)</li>
</ul>
<h1>Notable Bug Reporters</h1>
<ul>
<li>Michael Buckner (@michaelbuckner)</li>
<li>Carl Neuhaus (@carlneuhaus)</li>
<li>Eirik Rye (@eirikrye)</li>
<li>Matteo Bertini (@naufraghi)</li>
<li>Erwin Haasnoot (@ErwinHaasnoot)</li>
<li>Aris Pikeas (@pikeas)</li>
</ul>
<h1>Code Contributors</h1>
<ul>
<li>Brandon Hoffman (@BrandonHoffman)</li>
<li>Fabian Kochem (@vortec)</li>
<li>Kostas Dizas (@kostasdizas)</li>
<li>Ali-Akber Saifee (@alisaifee)</li>
<li>@arpesenti</li>
<li>Eirik Rye (@eirikrye)</li>
<li>Matteo Bertini (@naufraghi)</li>
<li>Trevor Scheitrum (@trevorscheitrum)</li>
<li>Ian Wagner (@ianthetechie)</li>
<li>Erwin Haasnoot (@ErwinHaasnoot)</li>
<li>Kirk Leon Guerrero (@kirklg)</li>
<li>Ergo_ (@johnlam)</li>
<li>Rodrigue Cloutier (@rodcloutier)</li>
<li>KhanhIceTea (@khanhicetea)</li>
<li>Prashant Sinha (@PrashntS)</li>
<li>Alan Lu (@cag)</li>
<li>Soloman Weng (@soloman1124)</li>
<li>Evan Owen (@thatGuy0923)</li>
<li>Gemedet (@gemedet)</li>
<li>Garrett Squire (@gsquire)</li>
<li>Haïkel Guémar (@hguemar)</li>
<li>Eshin Kunishima (@mikoim)</li>
<li>Mike Adams (@mikeadamz)</li>
<li>Michal Bultrowicz (@butla)</li>
<li>Bogdan (@spock)</li>
<li>@banteg</li>
<li>Philip Bjorge (@philipbjorge)</li>
<li>Daniel Metz (@danielmmetz)</li>
<li>Alessandro Amici (@alexamici)</li>
<li>Trevor Bekolay (@tbekolay)</li>
</ul>
<h1>Documenters</h1>
<ul>
<li>Timothy Cyrus (@tcyrus)</li>
<li>M.Yasoob Ullah Khalid (@yasoob)</li>
<li>Lionel Montrieux (@lmontrieux)</li>
<li>Ian Wagner (@ianthetechie)</li>
<li>Andrew Murray (@radarhere)</li>
<li>Tim (@timlyo)</li>
<li>Sven-Hendrik Haase (@svenstaro)</li>
<li>Matt Caldwell (@mattcaldwell)</li>
<li>berdario (@berdario)</li>
<li>Cory Taylor (@coryandrewtaylor)</li>
<li>James C. (@Jammy4312)</li>
<li>Ally Weir (@allyjweir)</li>
<li>Steven Loria (@sloria)</li>
<li>Patrick Abeya (@wombat2k)</li>
<li>Ergo_ (@johnlam)</li>
<li>Adeel Khan (@adeel)</li>
<li>Benjamin Williams (@benjaminjosephw)</li>
<li>@gdw2</li>
<li>Thierry Colsenet (@ThierryCols)</li>
<li>Shawn Q Jackson (@gt50)</li>
<li>Bernhard E. Reiter (@bernhardreiter)</li>
<li>Adam McCarthy (@mccajm)</li>
<li>Sobolev Nikita (@sobolevn)</li>
<li>Chris (@ckhrysze)</li>
</ul>
<hr />
<p>A sincere thanks to everyone who has helped make hug the great Python3 project it is today!</p>
<p>~Timothy Crosley</p>