<h1>hug directives (automatic argument injection)</h1>
<p>Often times you'll find yourself needing something particular to an interface (say a header, a session, or content_type) but don't want to tie your function
to a single interface. To support this: hug introduces the concept of <code>directives</code>. In hug directives are simply arguments that have been registered to automatically provide a parameter value based on knowledge known to the interface.</p>
<p>For example - this is the built in session directive:</p>
<div class="codehilite"><pre><span></span>@hug.directive()
def session(context_name=&#39;session&#39;, request=None, **kwargs):
    &quot;&quot;&quot;Returns the session associated with the current request&quot;&quot;&quot;
    return request and request.context.get(context_name, None) or None
</pre></div>


<p>Then when using this directive in your code, you can either specify the directive via type annotation:</p>
<div class="codehilite"><pre><span></span>@hug.get()
def my_endpoint(session: hug.directives.session):
    session # is here automatically, without needing to be passed in
</pre></div>


<p>Or, prefixing the argument with <code>hug_</code>:</p>
<div class="codehilite"><pre><span></span>@hug.get()
def my_endpoint(hug_session):
    session # is here automatically, without needing to be passed in
</pre></div>


<p>You can then specify a different location for the hug session, simply by providing a default for the argument:</p>
<div class="codehilite"><pre><span></span>@hug.get()
def my_endpoint(hug_session=&#39;alternative_session_key&#39;):
    session # is here automatically, without needing to be passed in
</pre></div>


<h1>Built-in directives</h1>
<p>hug provides a handful of directives for commonly needed attributes:</p>
<ul>
<li>hug.directives.Timer (hug_timer=precision): Stores the time the interface was initially called, returns how much time has passed since the function was called if casted as a float. Automatically converts to a the time taken when returned as part of a JSON structure. The default value is used to specify the float precision desired when keeping track of the time passed</li>
<li>hug.directives.module (hug_module): Passes along the module that contains the API associated with this endpoint</li>
<li>hug.directives.api (hug_api): Passes along the hug API singleton associated with this endpoint</li>
<li>hug.directives.api_version (hug_api_version): Passes along the version of the API being called</li>
<li>hug.directives.documentation (hug_documentation): Generates and passes along the entire set of documentation for the API the endpoint is contained within</li>
<li>hug.directives.session (hug_session=context_name): Passes along the session associated with the current request. The default value is used to provide a different key where the value is stored on the request.context object.</li>
<li>hug.directives.user (hug_user): Passes along the user object associated with the request</li>
<li>hug.directives.CurrentAPI (hug_current_api): Passes along a smart version aware API caller, to enable calling other functions within your API with reissurence the correct function is being called for the version of the API being requested</li>
</ul>
<h1>Building custom directives</h1>
<p>hug provides the <code>@hug.directive()</code> to enable creation of new directives. It takes one argument: apply_globally which defaults to False.
If you set this parameter to True the hug directive will be automatically made available as a magic <code>hug_</code> argument on all endpoints outside of just your defined API. This is not a concern if your applying directives via type annotation.</p>
<p>The most basic directive will simply take an optional default value, and **kwargs:</p>
<div class="codehilite"><pre><span></span>@hug.directive()
def basic(default=False, **kwargs):
    return str(default) + &#39; there!&#39;
</pre></div>


<p>This directive could then be used like this:</p>
<div class="codehilite"><pre><span></span><span class="p">@</span><span class="nx">hug.local</span><span class="p">()</span>
<span class="nx">def</span> <span class="nx">endpoint</span><span class="p">(</span><span class="n">hug_basic</span><span class="o">=</span><span class="s1">&#39;hi&#39;</span><span class="p">):</span>
    <span class="k">return</span> <span class="nx">hug_basic</span>

<span class="nx">assert</span> <span class="nx">endpoint</span><span class="p">()</span> <span class="o">==</span> <span class="s1">&#39;hi there!&#39;</span>
</pre></div>


<p>It's important to always accept **kwargs for directive functions as each interface get's to decide it's own set of
key word arguments to send to the directive, which can then be used to pull-in information for the directive.</p>
<h1>Common directive key word parameters</h1>
<p>Independ of what interface a directive is being ran through, the following key word arguments will be passed to it:</p>
<ul>
<li><code>interface</code> - the interface that the directive is being ran through. Useful for conditionally injecting different data via the decorator depending on the interface it is being called through, as demonstrated at the bottom of this section</li>
<li><code>api</code> - the API singleton associated with this endpoint</li>
</ul>
<p>Interface Example:</p>
<div class="codehilite"><pre><span></span>@directive()
def my_directive(default=None, interface=None, **kwargs):
    if interface == hug.interface.CLI:
        return &#39;CLI specific&#39;
    elif interface == hug.interface.HTTP:
        return &#39;HTTP specific&#39;
    elif interface == hug.interface.Local:
        return &#39;Local&#39;

    return &#39;unknown&#39;
</pre></div>


<h1>HTTP directive key word parameters</h1>
<p>Directives are passed the following additional keyword parameters when they are being ran through an HTTP interface:</p>
<ul>
<li><code>response</code>: The HTTP response object that will be returned for this request</li>
<li><code>request</code>: The HTTP request object that caused this interface to be called</li>
<li><code>api_version</code>: The version of the endpoint being hit</li>
</ul>
<h1>CLI directive key word parameters</h1>
<p>Directives get one additional argument when they are being ran through a command line interface:</p>
<ul>
<li><code>argparse</code>: The argparse instance created to parse command line arguments</li>
</ul>