<h1>hug output formats</h1>
<p>Every endpoint that is exposed through an externally facing interface will need to return data in a standard, easily understandable format.</p>
<p>The default output format for all hug APIs is JSON. However, you may explicitly specify a different default output_format:</p>
<div class="codehilite"><pre><span></span>hug.API(__name__).http.output_format = hug.output_format.html
</pre></div>


<p>or:</p>
<div class="codehilite"><pre><span></span>@hug.default_output_format()
def my_output_formatter(data, request, response):
    # Custom output formatting code
</pre></div>


<p>Or, to specify an output_format for a specific endpoint, simply specify the output format within its router:</p>
<div class="codehilite"><pre><span></span>@hug.get(output=hug.output_format.html)
def my_endpoint():
    return # HTML generating code goes here
</pre></div>


<p>You can use route chaining to specify an output format for a group of endpoints within an API:</p>
<div class="codehilite"><pre><span></span>html = hug.get(output=hug.output_format.html)

@html
def my_endpoint_1():
    return # HTML generating code goes here

@html.urls(&#39;/&#39;)
def root():
    return # HTML generating code goes here
</pre></div>


<p>Finally, an output format may be a collection of different output formats that get used conditionally. For example, using the built-in suffix output format:</p>
<div class="codehilite"><pre><span></span>suffix_output = hug.output_format.suffix({&#39;.js&#39;: hug.output_format.json,
                                          &#39;.html&#39;:hug.output_format.html})

@hug.get((&#39;my_endpoint.js&#39;, &#39;my_endoint.html&#39;), output=suffix_output)
def my_endpoint():
    return &#39;&#39;
</pre></div>


<p>In this case, if the endpoint is accessed via my_endpoint.js, the output type will be JSON; however if it's accessed via my_endoint.html, the output type will be HTML.</p>
<h1>Built-in hug output formats</h1>
<p>hug provides a large catalog of built-in output formats, which can be used to build useful APIs right away:</p>
<ul>
<li><code>hug.output_format.json</code>: The default hug output formatter for all endpoints; outputs in Javascript Serialized Object Notation (JSON).</li>
<li><code>hug.output_format.text</code>: Outputs in a plain text format.</li>
<li><code>hug.output_format.html</code>: Outputs Hyper Text Markup Language (HTML).</li>
<li><code>hug.output_format.json_camelcase</code>: Outputs in the JSON format, but first converts all keys to camelCase to better conform to Javascript coding standards.</li>
<li><code>hug.output_format.pretty_json</code>: Outputs in the JSON format, with extra whitespace to improve human readability.</li>
<li>
<p><code>hug.output_format.image(format)</code>: Outputs an image (of the specified format).</p>
<ul>
<li>There are convience calls in the form `hug.output_format.{FORMAT}_image for the following image types: 'png', 'jpg', 'bmp', 'eps', 'gif', 'im', 'jpeg', 'msp', 'pcx', 'ppm', 'spider', 'tiff', 'webp', 'xbm',
           'cur', 'dcx', 'fli', 'flc', 'gbr', 'gd', 'ico', 'icns', 'imt', 'iptc', 'naa', 'mcidas', 'mpo', 'pcd',
           'psd', 'sgi', 'tga', 'wal', 'xpm', and 'svg'.
Automatically works on returned file names, streams, or objects that produce an image on read, save, or render.</li>
</ul>
</li>
<li>
<p><code>hug.output_format.video(video_type, video_mime, doc)</code>: Streams a video back to the user in the specified format.</p>
<ul>
<li>There are convience calls in the form `hug.output_format.{FORMAT}_video for the following video types: 'flv', 'mp4', 'm3u8', 'ts', '3gp', 'mov', 'avi', and 'wmv'.
Automatically works on returned file names, streams, or objects that produce a video on read, save, or render.</li>
</ul>
</li>
<li>
<p><code>hug.output_format.file</code>: Will dynamically determine and stream a file based on its content. Automatically works on returned file names and streams.</p>
</li>
<li>
<p><code>hug.output_format.on_content_type(handlers={content_type: output_format}, default=None)</code>: Dynamically changes the output format based on the request content type.</p>
</li>
<li><code>hug.output_format.suffix(handlers={suffix: output_format}, default=None)</code>: Dynamically changes the output format based on a suffix at the end of the requested path.</li>
<li><code>hug.output_format.prefix(handlers={suffix: output_format}, default=None)</code>: Dynamically changes the output format based on a prefix at the beginning of the requested path.</li>
</ul>
<h1>Creating a custom output format</h1>
<p>An output format is simply a function with a content type attached that takes a data argument, and optionally a request and response, and returns properly encoded and formatted data:</p>
<div class="codehilite"><pre><span></span>@hug.format.content_type(&#39;file/text&#39;)
def format_as_text(data, request=None, response=None):
    return str(content).encode(&#39;utf8&#39;)
</pre></div>


<p>A common pattern is to only apply the output format. Validation errors aren't passed in, since it's hard to deal with this for several formats (such as images), and it may make more sense to simply return the error as JSON. hug makes this pattern simple, as well, with the <code>hug.output_format.on_valid</code> decorator:</p>
<div class="codehilite"><pre><span></span>@hug.output_format.on_valid(&#39;file/text&#39;)
def format_as_text_when_valid(data, request=None, response=None):
    return str(content).encode(&#39;utf8&#39;)
</pre></div>