<h1>Type annotations in hug</h1>
<p>hug leverages Python3 type annotations for validation and API specification. Within the context of hug, annotations should be set to one of 4 things:</p>
<ul>
<li>A cast function, built-in, or your own (str, int, etc) that takes a value casts it and then returns it, raising an exception if it is not in a format that can be cast into the desired type</li>
<li>A hug type (hug.types.text, hug.types.number, etc.). These are essentially built-in cast functions that provide more contextual information, and good default error messages</li>
<li>A Marshmallow type and/or schema. In hug 2.0.0 Marshmallow is a first class citizen in hug, and all fields and schemas defined in this framework can be used in hug directly as type annotations</li>
<li>A string. When a basic Python string is set as the type annotation it is used by hug to generate documentation, but does not get applied during the validation phase</li>
</ul>
<p>For example:</p>
<div class="codehilite"><pre><span></span><span class="kn">import</span> <span class="nn">hug</span>


<span class="nd">@hug.get</span><span class="p">()</span>
<span class="k">def</span> <span class="nf">hello</span><span class="p">(</span><span class="n">first_name</span><span class="p">:</span> <span class="n">hug</span><span class="o">.</span><span class="n">types</span><span class="o">.</span><span class="n">text</span><span class="p">,</span> <span class="n">last_name</span><span class="p">:</span> <span class="s1">&#39;Family Name&#39;</span><span class="p">,</span> <span class="n">age</span><span class="p">:</span> <span class="nb">int</span><span class="p">):</span>
    <span class="k">print</span><span class="p">(</span><span class="s2">&quot;Hi {0} {1}!&quot;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">first_name</span><span class="p">,</span> <span class="n">last_name</span><span class="p">)</span>
</pre></div>


<p>Is a valid hug endpoint.</p>
<p>Anytime a type annotation raises an exception during casting of a type it is seen as a failure, otherwise the cast is assumed succesfull with the returned type replacing the passed in parameter. By default all errors are collected in an errors dictionary and returned as the output of the endpoint before the routed function ever gets called. To change how errors are returned you can transform them via the <code>on_invalid</code> route option, and specify a specific output format for errors by specifying the <code>output_invalid</code> route option. Or, if you prefer, you can keep hug from handling the validation errors at all by passing in <code>raise_on_invalid=True</code> to the route.</p>
<h1>Built in hug types</h1>
<p>hug provides several built in types for common API use cases:</p>
<ul>
<li><code>number</code>: Validates that a whole number was passed in</li>
<li><code>float_number</code>: Validates that a valid floating point number was passed in</li>
<li><code>decimal</code>: Validates and converts the provided value into a Python Decimal object</li>
<li><code>uuid</code>: Validates that the provided value is a valid UUID</li>
<li><code>text</code>: Validates that the provided value is a single string parameter</li>
<li><code>multiple</code>: Ensures the parameter is passed in as a list (even if only one value is passed in)</li>
<li><code>boolean</code>: A basic niave HTTP style boolean where no value passed in is seen as <code>False</code> and any value passed in (even if its <code>false</code>) is seen as <code>True</code></li>
<li><code>smart_boolean</code>: A smarter, but more computentionally expensive, boolean that checks the content of the value for common true / false formats (true, True, t, 1) or (false, False, f, 0)</li>
<li><code>delimeted_list(delimiter)</code>: splits up the passed in value based on the provided delimeter and then passes it to the function as a list</li>
<li><code>one_of(values)</code>: Validates that the passed in value is one of those specified</li>
<li><code>mapping(dict_of_passed_in_to_desired_values)</code>: Like <code>one_of</code>, but with a dictionary of acceptable values, to converted value.</li>
<li><code>multi(types)</code>: Allows passing in multiple acceptable types for a parameter, short circuiting on the first acceptable one</li>
<li><code>in_range(lower, upper, convert=number)</code>: Accepts a number within a lower and upper bound of acceptable values</li>
<li><code>less_than(limit, convert=number)</code>: Accepts a number within a lower and upper bound of acceptable values</li>
<li><code>greater_than(minimum, convert=number)</code>: Accepts a value above a given minimum</li>
<li><code>length(lower, upper, convert=text)</code>: Accepts a a value that is withing a specific length limit</li>
<li><code>shorter_than(limit, convert=text)</code>: Accepts a text value shorter than the specified length limit</li>
<li><code>longer_than(limit, convert=text)</code>: Accepts a value up to the specified limit</li>
<li><code>cutt_off(limit, convert=text)</code>: Cuts off the provided value at the specified index</li>
</ul>
<h1>Extending and creating new hug types</h1>
<p>The most obvious way to extend a hug type is to simply inherit from the base type defined in <code>hug.types</code> and then override <code>__call__</code> to override how the cast function, or override <code>__init__</code> to override what parameters the type takes:</p>
<div class="codehilite"><pre><span></span><span class="kn">import</span> <span class="nn">hug</span>


<span class="k">class</span> <span class="nc">TheAnswer</span><span class="p">(</span><span class="n">hug</span><span class="o">.</span><span class="n">types</span><span class="o">.</span><span class="n">number</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;My new documentation&quot;&quot;&quot;</span>

    <span class="k">def</span> <span class="nf">__call__</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">value</span><span class="p">):</span>
        <span class="n">value</span> <span class="o">=</span> <span class="nb">super</span><span class="p">()</span><span class="o">.</span><span class="n">__call__</span><span class="p">(</span><span class="n">value</span><span class="p">)</span>
        <span class="k">if</span> <span class="n">value</span> <span class="o">!=</span> <span class="mi">42</span><span class="p">:</span>
            <span class="k">raise</span> <span class="ne">ValueError</span><span class="p">(</span><span class="s1">&#39;Value is not the answer to everything.&#39;</span><span class="p">)</span>
</pre></div>


<p>If you simply want to perform additional conversion after a base type is finished, or modify its documentation, the most succinct way is the <code>hug.type</code> decorator:</p>
<div class="codehilite"><pre><span></span><span class="kn">import</span> <span class="nn">hug</span>


<span class="nd">@hug.type</span><span class="p">(</span><span class="n">extend</span><span class="o">=</span><span class="n">hug</span><span class="o">.</span><span class="n">types</span><span class="o">.</span><span class="n">number</span><span class="p">)</span>
<span class="k">def</span> <span class="nf">the_answer</span><span class="p">(</span><span class="n">value</span><span class="p">):</span>
    <span class="sd">&quot;&quot;&quot;My new documentation&quot;&quot;&quot;</span>
    <span class="k">if</span> <span class="n">value</span> <span class="o">!=</span> <span class="mi">42</span><span class="p">:</span>
        <span class="k">raise</span> <span class="ne">ValueError</span><span class="p">(</span><span class="s1">&#39;Value is not the answer to everything.&#39;</span><span class="p">)</span>
</pre></div>